@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('http://fonts.googleapis.com/css?family=Handlee');

@defaultColor: rgba(255, 255, 255, 0.5);
@hoverColor: rgba(255, 255, 255, 0.9);

//Mixins
.transition-duration(@duration: 1s) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -ms-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-property(@property) {
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -ms-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.user-select(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

//Defaults
html, body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: @defaultColor;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
  color: @hoverColor;
  margin-left: 1em;
  margin-bottom: 0;
}

//Treeview
.treeview {
  float: left; //Prevent 100% width
  .user-select; //Prevent accidental selection on dbl click to fast expand/collapse

  //Fade back to default
  &:hover input ~ label:before,
  &.hover input ~ label:before{
    opacity: 1.0;
    .transition-duration(0.5s);
  }
  
  ul {
    .transition-duration;
    list-style: none;
    padding-left: 1em;
    
    li {
      //Fade back to default
      span{
        .transition-property(color);
        .transition-duration;
      
        //Highlight on hover
        &:hover {
          color: @hoverColor;
          .transition-duration(0.3s);
        }
      }
    }
  }
  
  //Hide checkboxes
  input{
    display: none;
    
    //Hide collapsed branches
    &:checked ~ ul {
      display: none;
    }
     
    //Show pointer on collapsible rows
    & ~ label {
      cursor: pointer;
    }
    
    //Expanded branch
    & ~ label:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      margin-left: -1em;
      margin-top: 0.4em;
      border-width: 4px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: @defaultColor;
      border-bottom-color: @defaultColor;
      border-left-color: transparent;
      opacity: 0.0;
      .transition-property(opacity);
      .transition-duration;
    }

    //Collapsed branch
    &:checked ~ label:before {
      margin-left: -0.8em;
      border-width: 5px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: @defaultColor;
    }
  }
}